@import "tailwindcss";

@theme {
  --color-orange-bg: #fff7ed; 
  --color-dark-bg: #09090b;   
}

@custom-variant dark (&:where(.dark, .dark *));

:root {
  background-color: var(--color-orange-bg);
  color: #111827;
}

.dark {
  background-color: var(--color-dark-bg);
  color: #ffffff;
}

* {
  transition-property: background-color, border-color, color;
  transition-duration: 500ms;
  transition-timing-function: ease;
}